@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");

* {
    font-family: "Inter", sans-serif;
    color: black;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    background-color: #fff7ed;
}

body {
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    background-color: #fff7ed;
    max-width: 1200px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

header {
    background-color: #fff7ed;
    display: flex;
    align-items: center;
    padding: 35px;
}

header > :nth-child(1) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 25.3531px;
    line-height: 40px;
    text-transform: uppercase;
}

header > :nth-child(2) {
    margin-left: auto;
}

section {
    padding: 0 25px;
}

main {
    margin-bottom: 84px;
}

.nav-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 40px;
}

.nav-link-div {
    display: flex;
    justify-content: space-between;
    color: #4d4d4d;
}

.nav-link {
    color: #4d4d4d;
    margin-left: 30px;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
    color: #161616;
}

a {
    font-family: "Inter";
    text-decoration: none;
}

.home {
    background: url("./images/image-accueil.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /*min-height: 350px;*/
    padding: 45px 23px;
    margin-bottom: 100px;
}

.home-title {
    color: #ffffff;
    font-size: 36px;
}

.home-text {
    color: #ffffff;
}

.home--button {
    background-color: #ff8c38;
    margin-top: 40px;
    width: 95%;
}

.about--image {
    width: 100%;
}

.about--section {
    padding: 30px 20px;
}

.about--title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.about--box {
    background: #ffcc8d;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.about--subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin: 0px;
}

.about--button {
    background-color: black;
    width: 174px;
    margin: 20px 0px 0px 0px;
}

.about--text {
    margin-top: 20px;
    margin-bottom: 50px;
}

.link-button {
    border-radius: 5px;
    font-family: "Inter";
    font-weight: 400;
    text-align: center;
    border: none;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
    transition: transform 0.1s ease-in-out;
}

.link-button:hover {
    transform: translate(1px, 1px);
}
.van {
    margin-bottom: 70px;
}
.van h1 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 50px;
}

.van-list-filter-buttons {
    display: flex;
    flex-wrap: wrap;
}

.van-list-filter-buttons > a {
    margin-right: 15px;
}

.van-list-filter-buttons button {
    margin-right: 15px;
    cursor: pointer;
}

.van-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
}
.van-card {
    width: 100%;
    padding-bottom: 20px;
    max-width: 787px;
}

.van-card img {
    max-width: 100%;
    border-radius: 5px;
    max-height: 787px;
}

.van-text {
    display: flex;
    justify-content: space-between;
}

.van-text h2 {
    font-size: 1.1rem;
}

.van-text p {
    margin: 15px 0;
}

.van-text span {
    display: block;
    font-size: 0.8rem;
}

.van-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #ffead0;
    color: #4d4d4d;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.van-type:hover {
    color: #ffead0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
    background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
    background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
    background-color: #161616;
}

.van-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4d4d4d;
}

i[class*="van-type-"] {
    padding: 7px 14px;
}

footer {
    background-color: #161616;
    color: #aaaaaa;
    height: 74px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-weight: 500;
}
.van-detail-container {
    padding: 27px;
}

.van-detail-container .back-button {
    color: black;
    text-decoration: none;
}

.van-detail-container .back-button:visited {
}

.van-detail-container .back-button span {
    text-decoration: underline;
}

.van-detail {
    display: flex;
    flex-direction: column;
    color: #161616;
}

.van-detail img {
    border-radius: 5px;
    margin-block: 47px;
}

.van-detail h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.van-detail > i {
    align-self: flex-start;
}

.van-detail .van-price {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.van-detail .van-price span {
    font-weight: 700;
    font-size: 1.5rem;
}

.van-detail .link-button {
    background-color: #ff8c38;
    color: white;
    font-size: 1.125rem;
}

.host-nav {
    display: flex;
}

.host-nav a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 500;
    padding: 5px 20px;
}

.host-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 600;
}

.host-van-link-wrapper {
    color: unset;
    text-decoration: unset;
}

.host-vans-list {
    padding-inline: 26px;
}

.host-vans-title {
    padding-inline: 26px;
}

.host-van-single {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 15px;
    padding-block: 18px;
    padding-left: 24px;
}

.host-van-single > img {
    height: 70px;
    border-radius: 5px;
    margin-right: 17px;
}

.host-van-info h3 {
    font-size: 20px;
    font-weight: 600;
    margin-block: 10px;
}

.host-van-info p {
    margin-block: 10px;
}

/* Host van detail */
.host-van-detail-layout-container {
    margin: 20px 30px;
}
.host-van-detail {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 2em;
    border-radius: 5px;
}

.host-van-detail-single {
    display: flex;
}

.host-van-detail-single > img {
    height: 158px;
    margin-right: 17px;
    border-radius: 5px;
}

.host-van-detail-text {
    padding-block: 20px;
}

.host-van-detail-text h2 {
    font-size: 26px;
    margin: 10px 0;
}

.host-van-detail-text p {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}

.host-van-detail-text span {
    font-size: 19px;
    font-weight: 600;
}

.host-van-detail-text i {
    width: fit-content;
    height: fit-content;
    padding: 6px 15px;
}

.host-van-detail-link {
    margin-block: 25px;
}

.host-van-detail-link a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 500;
    padding-block: 5px;
    margin-right: 20px;
}
.host-van-detail-link a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 600;
}

.back-button {
    display: block;
    color: black;
    text-decoration: none;
    margin-top: 60px;
    margin-left: 26px;
}

.back-button:hover {
    text-decoration: underline;
}

.host-van-detail-info {
    padding-inline: 20px;
}

.host-van-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.host-van-detail > img {
    border-radius: 5px;
    margin: auto;
    width: 50%;
}

.host-van-detail-info > h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}
.host-van-detail-info > h4 > span {
    font-weight: 400;
}

.host-van-detail-info-text {
    width: 50%;
}

.host-van-detail-nav {
    display: flex;
    gap: 20px;
}

.host-van-price {
    font-size: 24px;
    font-weight: 500;
}

.host-van-price > span {
    font-size: 16px;
    color: #4d4d4d;
}

.host-van-detail-image {
    height: 100px;
    border-radius: 5px;
}
.not-found-container {
    padding-inline: 26px;
}

.not-found-container .link-button {
    width: 100%;
    background-color: #161616;
    color: white;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 27px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

.login-form > input {
    border: 1px solid rgba(209, 213, 219);
    height: 40px;
    text-indent: 10px;
    font-family: "Inter", sans-serif;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-weight: 400;
    font-size: 1rem;
}

.login-form > input:focus {
    outline: none;
}

.login-form > input:first-of-type {
    border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
    border-radius: 0px 0px 6px 6px;
    border-top: none;
}

.login-form > button {
    border-radius: 6px;
    height: 55px;
    margin-top: 22px;
    color: white;
    background-color: #000000;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

.login-form > button:hover {
    cursor: pointer;
    transform: translate(1px, 1px);
}

.login-form > button:disabled {
    background-color: #aaaaaa;
    cursor: not-allowed;
}

.login-link > img {
    height: 20px;
    margin-left: 20px;
}

.x-button {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 12px;
    margin-left: 10px;
}

.red {
    color: red;
}

.buttonLogin {
    background-color: black;
}
